.remoteBlock {
    height: 200px;
    background-color: navajowhite;
}
.remoteContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}
.title{
    border: 1px solid black;
}
.remoteBut {
    display: flex;
    flex-direction: column;
}
.button {
    width: 100px;
    padding: 5px 0;
    background: linear-gradient(10deg, #ddb35f, #7409c7);
    border: 3px black solid;
    border-radius: 10px;
}