@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';


.work{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    width: 400px;
    border: 1px solid black;
    background-color: $bgSecondColor;
    .picture{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 300px;
        width: 100%;
        background-color: gray;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        ::before {
            content: "";
            position: absolute;
            background-color: black;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.4;
        }
        .button{
            position: relative;
            z-index: 1;
            cursor: pointer;
            font-size: 15px;
            font-weight: bold;
            margin-left: 10px;
            padding: 6px;
            width: 80px;
            border: 1px black solid;
            border-radius: 10px;
            background: $primaryColor;
            color: $textColor;
        }
    }
    .projectInfo {
        padding: 25px 20px;
        .projectTitle {
            margin: 0 0 5px;
            @include text($titleFontFamily,16px,1.2);
            letter-spacing: 1px;
            color: $textColor;
        }
        .description {
            font-weight: 400;
            @include text($textFontFamily,12px,1.8);
        }
    }
}















